$playstation-blue: #003791;
$playstation-blue-light: lighten($playstation-blue, 10%);
$playstation-blue-light2: lighten($playstation-blue, 20%);
$playstation-blue-light3: lighten($playstation-blue, 30%);
