@import 'core/a';
@import 'core/abbr';
@import 'core/address';
@import 'core/application';
@import 'core/article';
@import 'core/aside';
@import 'core/button';
@import 'core/code';
@import 'core/dialog';
@import 'core/dl';
@import 'core/em';
@import 'core/fieldset';
@import 'core/figure';
@import 'core/form';
@import 'core/header';
@import 'core/headings';
@import 'core/hr';
@import 'core/img';
@import 'core/input';
@import 'core/kbd';
@import 'core/lists';
@import 'core/main';
@import 'core/menu';
@import 'core/nav';
@import 'core/ol';
@import 'core/p';
@import 'core/placeholder';
@import 'core/pre';
@import 'core/section';
@import 'core/select';
@import 'core/small';
@import 'core/strong';
@import 'core/table';
@import 'core/ul';
