* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

html,
body,
[data-reactroot],
[role=application] {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

html {
  font-size: 10px;
}

[role=application] {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 2;
}
