# Dependencies
node_modules
.yarn/cache
.yarn/install-state.gz

# Next.js build output
.next
out

# Development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Testing
coverage
.nyc_output

# Git
.git
.gitignore

# Documentation
README.md
docs

# Docker
Dockerfile
docker-compose.yml
.dockerignore