# Dependencies
node_modules

# Next.js build output
.next
out
dist

# Environment files
.env
.env.*

# Logs
npm-debug.log*

# Misc
.DS_Store
*.pem

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Git
.git
.gitignore

# Documentation
README.md
docs

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Secrets
secrets
