# Macs
.DS_Store


# IntelliJ
/.idea


# Build Dirs
/dist*
/.next

# Sensitive Files
/.env
/.env.local

# Package Manager Files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
package-lock.json
