# Macs
.DS_Store


# IntelliJ
/.idea


# Build Dirs
/dist*

# Sensitive Files
/.env
/.env.*
!/.env.local.example

# Package Manager Files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
package-lock.json

# Artifacts
*.tar.gz
