.article-list {
  flex-grow: 1;

  > li {
    &::after {
      display: block;

      content: '';
      width: 10rem;
      height: 0;
      margin: 2rem auto;

      border-top: 0.1rem solid $red;
    }
  }
}
