.badge,
%badge {
  display: inline-block;

  min-width: 1rem;
  margin-right: 1rem;
  padding: 0 0.5rem;

  background-color: $red;
  color: $white;

  font-size: 0.7em;
  text-align: center;
  text-shadow: 0 0 2px #000000;
  vertical-align: middle;

  white-space: nowrap;

  &:empty {
    display: none;
  }

  &.inline {
    display: inline-block;

    margin-right: 0;

    font-size: 0.75em;
  }

  &.warn {
    background-color: $yellow-darker;
  }

  &.info {
    background-color: $grey-darkened;
  }
}

.icon-badge {
  @extend %badge;

  position: absolute;
  top: 0;
  right: 0;

  margin: 0;

  border-radius: 1rem;

  text-shadow: none;
  font-size: 1.75 rem;
  line-height: 1.75;

  &.grey {
    background-color: $grey-lightened;
    color: $black;
  }
}
