.breadcrumbs {
  margin-bottom: 0.5rem;
  font-size: 0.85em;

  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  li {
    display: inline-flex;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

    &:hover,
    &:focus {
      text-decoration: underline;
      opacity: 1;
    }
  }

  .breadcrumb-separator {
    margin: 0 0.25rem;
    opacity: 0.6;
  }

  @media only screen and (max-width: 768px) {
    ol {
      justify-content: center;
    }
  }
}
