.hero {
  display: flex;
  position: relative;

  flex-direction: column;
  align-content: center;
  justify-content: center;

  flex-shrink: 0;

  height: 100%;
  padding: 6rem;

  color: $white;

  font-family: Raleway, sans-serif;
  text-shadow: 0 0 0.2rem rgba($black, 0.66);

  overflow: hidden;

  h1,
  h2 {
    transition: font-size 0.2s ease;
  }

  h1 {
    font-size: 5em;
  }

  header {
    z-index: 50;

    text-shadow: 2px 2px 4px rgba($black, 0.66);
  }

  .call-to-action {
    z-index: 50;

    margin-top: 5rem;

    .button {
      --text-color-hover: #FFFFFF;
      padding: 1rem 4rem;

      box-shadow: 0 0 1rem 0 $black;
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      animation-name: wiggle;

      font-weight: bold;
      font-size: 1.5em;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgba($black, 0.66);
    }
  }

  @media only screen and (max-width: 1366px) {
    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2em;
    }

    .call-to-action .button {
      font-size: 1.25em;
    }
  }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.6em;
    }

    .call-to-action .button {
      font-size: 1em;
    }
  }
}
