@use 'sass:math';

.loading {
  &:empty,
  &.loader-force {
    position: relative;

    &::after,
    &::before {
      display: flex;
      position: absolute;

      align-items: center;
      align-content: center;
      justify-content: center;

      color: $black;
    }

    &::after {
      top: 50%;
      left: 50%;
      z-index: 100;

      content: '';
      width: $loader-size;
      height: $loader-size;
      margin-top: -(math.div($loader-size, 2) + $loader-border-width);
      margin-left: -(math.div($loader-size, 2) + $loader-border-width);

      border: $loader-border-width solid currentColor;
      border-radius: 100%;

      animation-delay:
        0s,
        1s;
      animation-duration:
        1s,
        4s;
      animation-fill-mode: forwards;
      animation-iteration-count:
        1,
        infinite;
      animation-name:
        loading-start,
        loading;
    }

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;

      content: 'Loading';

      border-color: transparent;

      background-color: rgba($white, 0.8);
    }

    &[data-loader-text]::before {
      content: attr(data-loader-text);
    }

    &.loader-dark {
      &::after,
      &::before {
        color: $white;
      }

      &::before {
        background-color: transparent;
      }
    }
  }
}
