.order-status-indicator {
  display: inline-flex;

  align-items: center;

  margin: 0 1rem;

  vertical-align: text-top;

  [data-icon='arrow-right'] {
    margin: 0 1rem;

    font-size: 0.5em;
  }
}
