main.page {
  display: flex;
  position: absolute;
  inset: 0;

  flex-direction: column;
  align-content: stretch;

  flex-grow: 1;

  margin-left: 21rem;
  padding-top: env(safe-area-inset-top);

  background: #FFFFFF;
  transition: margin 0.2s;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
  }
  @media (display-mode: standalone) {
    margin-left: 0;
  }
}


#FuelRatsApp.forceDrawer main.page {
  margin-left: 0;
}
