.page-header {
  position: relative;
  z-index: 10;

  flex-shrink: 0;
  align-self: flex-start;

  min-width: 0%;
  max-width: 75%;
  margin: 0 0 2rem;
  padding: 1rem 4rem;

  background-color: $red;
  color: $white;
  transition: min-width 0.2s, padding 0.2s;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    content: '';
    width: 9rem;

    background-image:
      linear-gradient(
        to left,
        $red 0,
        $red 0.2rem,
        transparent 0.2rem,
        transparent 0.4rem,
        $red 0.4rem,
        $red 0.6rem,
        transparent 0.6rem,
        transparent 0.8rem,
        $red 0.8rem
      );
    transition: transform 0.2s;

    transform: skewX(-45deg) translateX(1rem);
    transform-origin: left bottom;
  }

  @media only screen and (max-width: 768px) {
    min-width: 100%;
    max-width: 100%;

    text-align: center;

    &::after {
      transform: skewX(0) translateX(0);
    }
  }
}

@media only screen and (min-width: 769px) {
  #FuelRatsApp.forceDrawer .page-header {
    padding-left: 9.5rem;
  }
}
