.panel {
  background-color: $white;
  box-shadow: 0 0 1rem rgba($black, 0.1);

  &:last-child {
    margin-bottom: 0;
  }

  header,
  .panel-header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    menu {
      padding: 0;
    }
  }

  header,
  footer,
  .panel-header,
  .panel-footer {
    position: relative;

    padding: 1rem;

    &:empty {
      display: none;
    }

    &:not(.panel-content) {
      background-color: $black;
      color: $white;
    }
  }
}

.panel-content {
  padding: 1rem;

  overflow: auto;
}
