.password-group {
  position: relative;

  &[data-focused='true'] .info {
    opacity: 1;
  }

  &.dark {
    &.show-strength {
      input:not(.inline) {
        border: none;
      }
    }

    .input-group {
      border: none;

      button {
        border: none;

        background: transparent;
      }
    }
  }

  .password-strength-meter {
    appearance: none;
    position: absolute;

    width: 100%;
    height: 0.3rem;
    margin-top: -0.1rem;

    background-image: none;

    pointer-events: none;

    &[value='0'] {
      background-color: $red;
    }

    &[value='1'] {
      background-image:
        linear-gradient(
          to right,
          $red 40%,
          $transparent 40%
        );
    }

    &[value='2'] {
      background-image:
        linear-gradient(
          to right,
          $yellow 60%,
          $transparent 60%
        );
    }

    &[value='3'] {
      background-image:
        linear-gradient(
          to right,
          $yellow 80%,
          $transparent 80%
        );
    }

    &[value='4'] {
      background-color: $green;
    }
  }

  .info {
    position: absolute;
    top: calc(100% + 0.6rem);
    right: 0;
    left: 0;

    padding: 0 0.5rem;

    background: $black-lightened;
    color: $red-lightened;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.2s;
    box-shadow: 0 0 4px 0 rgba($black, 0.4);

    svg {
      margin-right: 0.5rem;

      color: $red;
    }
  }
}
