.profile-header {
  display: grid;

  grid-template:
    'message message message' auto
    'avatar info controls' 1fr
    'avatar badges controls' min-content
    / min-content auto min-content;
  grid-column-gap: 2rem;

  margin-bottom: 3rem;

  .message-container {
    grid-area: message;

    .error {
      max-width: 100%;
      margin-bottom: 1rem;
    }

    .banner {
      max-width: 100%;
      margin-bottom: 1rem;

      > div {
        display: flex;

        align-items: flex-end;
        justify-content: space-between;

        width: 100%;
      }
    }
  }

  .user-avatar {
    position: relative;

    grid-area: avatar;
  }

  .profile-basic-info {
    grid-area: info;
    align-self: center;

    padding-bottom: 1rem;

    > div .label {
      font-weight: bold;
    }

    .rat-name {
      font-size: 3rem;
    }
  }

  .profile-user-badges {
    grid-area: badges;
    align-self: end;

    height: min-content;

    ul {
      display: flex;

      flex-flow: row wrap;
    }

    .badge {
      margin: 0.25rem;
      padding: 0 0.75rem;

      font-size: 1.2rem;
    }
  }

  .profile-controls {
    display: flex;

    flex-direction: column;
    justify-content: flex-end;

    grid-area: controls;

    white-space: nowrap;

    button,
    .button {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'avatar   avatar   avatar'
      'info     info     info'
      'badges   badges   badges'
      'controls controls controls';
    justify-items: center;
    justify-content: center;

    text-align: center;

    .profile-user-badges ul {
      justify-content: center;
    }

    .profile-controls {
      flex-flow: row wrap;
      justify-content: center;

      margin-top: 0.5rem;

      button,
      .button {
        margin: 0.5rem;
      }
    }
  }
}
