div.radio-card-input {
  ul.options {
    display: flex;

    li.radio-card {
      margin: 0 0.25rem;
      padding: 1rem 2rem;

      border: 0.1rem solid $grey-lightened;

      box-shadow: 0 0 0.5rem 0 rgba($red-lightened, 0);
      transition: all 0.2s;

      text-align: center;

      cursor: pointer;


      &:not(.disabled) {
        &:hover,
        &.selected {
          border-color: $red;
        }

        &.selected {
          box-shadow: 0 0 0.5rem 0 rgba($red-lightened, 0.5);
        }
      }

      &.disabled {
        border-color: $grey;

        background-color: $grey;
        color: $grey-lightened;
      }

      div.card-content {
        display: flex;

        flex-direction: column;

        .title {
          font-size: 1.1em;
        }
      }
    }
  }
}
