.store-control-bar {
  display: flex;
  position: relative;
  top: -4rem;

  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin: 0 -2rem;
  padding: 0.5rem 1rem;

  background: $grey-lightened;

  > *:not(:last-child) {
    margin-right: 1rem;
  }

  .back-button {
    margin-right: auto;
    padding-top: 5px;
  }

  .cart-button {
    display: block;
    position: relative;

    padding-top: 5px;
  }
}
