// Base styles
.tags-input {
  display: inline-flex;
  position: relative;

  flex-wrap: wrap;
  align-content: stretch;

  border: 0.1rem solid $grey-lightened;
  transition-duration: 0.5s;
  transition-property: border-color, box-shadow;

  &.focus {
    border-color: $grey;

    box-shadow: 0 0 0.5rem 0 rgba($green-lightened, 0.5);

    .return-prompt.show {
      opacity: 1;
    }
  }

  &[required]:not(.has-tags) {
    border-color: $red-lightened;

    &.focus {
      box-shadow: 0 0 0.5rem 0 rgba($red, 0.5);
    }
  }

  &[data-single] {
    .tags {
      align-content: stretch;

      &:not(:empty) {
        width: 100%;

        ~ * {
          display: none;
        }
      }
    }

    .tag {
      display: flex;

      justify-content: space-between;

      flex-grow: 1;

      margin: 0;

      button {
        padding: 1rem;
      }
    }
  }

  input {
    flex-grow: 1;

    &:not(:focus) + .options {
      display: none;
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  button {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0 1rem;

    border: none;

    color: inherit;
    background-color: transparent;
    background-image: none;

    &:hover {
      color: inherit;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .tags {
    display: flex;

    flex-wrap: wrap;
  }

  .options:empty {
    display: none;
  }

  .loader,
  .no-results,
  .options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;

    border: 1px solid $black;
    border-top-width: 0;

    background-color: $white;
  }

  .loader,
  .no-results {
    padding: 1rem;
  }

  .return-prompt {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    align-items: center;

    padding-right: 1rem;

    color: $grey;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

  .option,
  .tag {
    &.focus {
      background-color: rgba(#000000, 0.2);
    }
  }

  .option {
    padding: 1rem;

    cursor: pointer;

    &.focus {
      background-color: $light-grey;
    }
  }

  .tag {
    align-items: center;

    margin: 0.5rem;
    padding: 0;
    padding-left: 0.5rem;

    background-color: $light-grey;
  }

  input[type='search'] {
    width: auto;

    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}
