span.text-placeholder {
  display: table-caption;

  height: 0.9em;

  border-radius: 0.9em;

  background: $grey;
  opacity: 0.4;

  &.loading {
    animation-name: opacity-flutter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}


span.text-placeholder-wrapper {
  vertical-align: middle;
}
