.tooltip {
  position: absolute;

  margin-left: 0.5rem;
  padding: 0.5rem 2rem;

  border-radius: 0.25rem;

  background-color: $black;
  color: $white;
  opacity: 0;
  transition-duration: 0.2s;
  transition-property: left, opacity, top;

  white-space: nowrap;
  pointer-events: none;

  &::before {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 100%;

    content: '';

    border: 0.5rem solid transparent;
    border-right-color: $black;
    border-left-width: 0;
  }

  header {
    margin-bottom: 1rem;
    padding: 0;

    font-size: 1.2em;
    font-weight: bold;
  }
}
