.zoomandcrop {
  display: flex;
}
.zoomsliderbox {
  width: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.zoomslidericon {
  height: 30px;
  padding: 5px 0px;
}
.slidercontrol {
  flex-grow: 1;
}
.rotatesliderbox {
  display: flex;
}
.rotatesliderbox .slidercontrol {
  padding-top: 5px;
}
.rotateslidericon {
  width: 30px;
  padding: 0px 5px;
}
.rotateandcrop {
  flex-grow: 1;
}
