div.user-nicknames {
  form.add-nickname-form {
    display: flex;

    flex-flow: row nowrap;
    align-items: center;

    padding: 1rem;

    fieldset {
      flex: 2 0;

      margin-right: 0.5rem;
      padding: 0;
    }

    button[type='submit'] {
      flex: 0 0 auto;

      margin-right: 0.2rem;
    }
  }

  .panel-content {
    padding: 0;

    overflow: visible;

    ul > li {
      display: flex;

      align-items: center;
      justify-content: space-between;

      padding: 0.5rem 1rem;

      &:nth-child(even) {
        background-color: $light-grey;
      }

      span {
        word-break: break-word;
      }
    }
  }
}
