div.user-nicknames .panel-content {
  padding: 0;

  overflow: visible;

  ul > li {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;

    &:nth-child(even) {
      background-color: $light-grey;
    }

    span {
      word-break: break-word;
    }
  }
}
