[role=application] {
  // align-content: stretch;
  // align-items: stretch;
  display: grid;
  grid-template-columns: 21rem auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'alert alert'
    'banner main';
  line-height: 2;
  position: relative;
}
