button,
input[type=button],
.button {
  background-color: $red;
  border-color: $red;
  border-style: solid;
  border-width: 0.2rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: $transparent;
    color: $red;
  }

  &[disabled] {
    background-color: $grey;
    border-color: $grey;
    color: $white;
    cursor: default;

    &:hover {
      background-color: $grey;
      border-color: $grey;
      color: $white;
    }
  }

  &.icon {
    padding: 1rem;
  }

  &.link {
    background: none;
    border: none;

    &:hover {
      background-color: none;
      border: none;
    }
  }

  &.secondary {
    background-color: $black-lightened;
    border-color: $black-lightened;
    color: $grey;

    &:hover {
      @include text-outline($black-lightened);

      background-color: $transparent;
      border-color: $black-lightened;
      color: $white;
      font-weight: bold;
    }
  }

  &.green {
    background-color: $green;
    border-color: $green;
    color: $white;

    &:hover {
//      @include text-outline($black-lightened);

      background-color: $transparent;
      color: $green;
    }
  }
}
