[role=dialog] {
  background-color: rgba($black, .99);
  margin-top: 4rem;
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto auto auto;
  min-width: 75rem;
  overflow: hidden;
  pointer-events: initial;
  z-index: 401;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    min-width: 100vw;
  }

  > header {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    color: $white;

    h2 {
      padding: 1rem 2rem;
    }

    [name=close] {
      border-radius: 0;
      margin-left: auto;
    }
  }

  > .content {
    flex-shrink: 1;
    padding-top: 2rem;
  }

  > footer {
    color: white;
  }

  menu[type=toolbar] {
    display: flex;
    flex-shrink: 0;
    padding: 2rem 0 0 0;

    &.compact {
      padding: 0;
    }

    > .primary,
    > .secondary {
      display: flex;
      align-items: baseline;
    }

    > .primary {
      margin-left: auto;
      order: 2;

      > *:not(:first-child) {
        margin-left: 1rem;
      }
    }

    > .secondary {
      margin-right: auto;
      order: 1;

      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    button,
    .button {
      border-radius: 0;
    }
  }
}
