form {
  &.compact fieldset {
    padding: .5rem 4rem;
  }

  &.dialog fieldset {
    padding: .5rem 2rem;
  }

  &.compact .form-row fieldset {
    padding: .5rem;

    &:first-child {
      padding-left: 4rem;
    }

    &:last-child {
      padding-right: 4rem;
    }
  }

  .form-row {
    display: flex;
    flex-direction: row;
  }
}
