main {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

//  section {
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//    flex-shrink: 0;
//    height: 100vh;
//  }
}
