@import '../../../scss/colors';

.table {
  min-width: 100%;
  margin: 2rem;


  background-color: $white;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    background-color: $red;

    > tr > th {
      padding: 4px 8px;
      border: 1px solid var($grey);
    }
  }

  tbody > tr {
    border: 1px solid $grey;

    > td {
      max-width: 300px;
      margin: 8px;
      padding: 8px;

      line-height: 27px;

      vertical-align: middle;

    }
  }
}
