.addNicknameForm {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  flex-flow: row nowrap;
  align-items: center;

  padding: 1rem;

  fieldset {
    flex: 2 0;

    margin-right: 0.5rem;
    padding: 0;
  }

  button[type='submit'] {
    flex: 0 0 auto;

    margin-right: 0.2rem;
  }

  .thinInput {
    padding: 0.5rem 1rem;
  }
}
