@import '../../scss/colors';

.alerts {
  position: fixed;
  top: 8rem;
  right: 2rem;
  z-index: 500;

  width: 30rem;

  white-space: pre-wrap;

  > div {
    margin-top: 1rem;
  }
}

.overflow {
  float: right;

  color: $grey-darkened;
}


.alertCard {
  --accent-color: #{$green-darkened};

  width: 100%;

  border: 0.2rem solid var(--accent-color);

  color: $white;
  background-color: $black;
  box-shadow: 0 0 1rem rgba(26, 26, 26, 0.24);

  overflow: hidden;

  &.info {
    --accent-color: #{$grey};
  }

  &.warn {
    --accent-color: #{$yellow-darkened};
  }

  &.error {
    --accent-color: #{$red-darkened};
  }

  > .header {
    display: flex;

    justify-content: space-between;

    padding: 0;

    color: var(--accent-color);

    font-size: 0.75em;

    .title {
      padding: 0.5rem 0 0 0.5rem;
    }

    button:global(.compact) {
      --background-color: var(--accent-color);
      --text-color-hover: var(--accent-color);

      width: 27px;
      margin: 0.4rem 0.4rem 0 0;
      padding: 0;
    }
  }

  > .body {
    align-items: center;

    padding: 1rem;
  }
}
