@keyframes opacity-flutter {
  0%, 100% { opacity: 0.50; }
  50% { opacity: 0.30; }
}


.opacity-flutter {
  animation-name: opacity-flutter;
  animation-duration: 1s;
  animation-iteration-count: infinite
}
