@import '../../scss/colors';

.userAvatar {
  position: relative;

  grid-area: avatar;

  :global(.avatar) {
    position: relative;
  }
}

.userAvatarEdit {
  --background-color: #{rgba($black, 0.7)};
  --background-color-hover: var(--background-color);
  backdrop-filter: blur(5px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  border: 0.2rem solid $red;
  border-radius: 50%;

  opacity: 0;
  transition: opacity 0.2s;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.editFace svg {
  color: $red;
}

.deleteButton {
  display: flex;
  position: absolute;
  right: -0.25rem;
  bottom: -0.25rem;
  z-index: 2;

  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;

  border: 2px solid $red;
  border-radius: 50%;

  color: $white;
  background-color: $red;
  transition: background-color 0.2s;

  font-size: 1rem;

  cursor: pointer;

  &:hover {
    background-color: darken($red, 10%);
  }

  &:disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}
