@mixin link-button {
  border: none;

  background: none;

  &.inline {
    display: inline;

    padding: 0;

    color: $red;

    text-decoration: underline;

    &:hover {
      color: inherit;
    }
  }

  &:hover {
    border: none;

    background-color: none;
  }
}


/* stylelint-disable selector-class-pattern */
button,
input[type='button'],
.button {
  /* stylelint-enable selector-class-pattern */
  --text-color: #{$white};
  --text-color-hover: #{$red};
  --background-color: #{$red};
  --background-color-hover: transparent;

  display: inline-block;

  flex-shrink: 0;

  margin: 0;
  padding: 1rem 2rem;

  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--background-color);
  border-radius: 0;

  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.2s;

  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  line-height: normal;

  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color-hover);
  }

  &:active,
  &:focus {
    color: var(--text-color);

    &:hover {
      color: var(--text-color-hover);
    }
  }

  &.link {
    @media screen and (max-width: 768px) {
      &:not(.mobile-button) {
        @include link-button();
      }
    }
    @media screen and (min-width: 769px) {
      @include link-button();
    }
  }

  &.compact {
    padding: 0.5rem 1rem;
  }

  &.icon {
    padding: 0;
  }

  &.square {
    padding: 1rem;

    &.compact {
      padding: 0.5rem;
    }
  }

  &.tall {
    line-height: 2;
  }

  &.secondary {
    --background-color: #{$black-lightened};
    --text-color: #{$grey};
    --text-color-hover: #{$white};

    &:hover {
      @include text-outline($black-lightened);
    }
  }


  &.inline {
    --background-color: transparent;
    --text-color: #{$black};
    --text-color-hover: #{$red};
    padding: 0;

    border: none;
  }

  &.green {
    --background-color: #{$green-darkened};
    --text-color: #{$white};
    --text-color-hover: #{$green-darkened};
  }

  &.white {
    --text-color: #{$white};
  }

  &[disabled] {
    --background-color: #{$grey};
    --background-color-hover: #{$grey};
    --text-color: #{$white};
    --text-color-hover: #{$white};
    cursor: default;
  }
}
