[role='dialog'] {
  display: flex;
  z-index: 401;

  flex-direction: column;

  min-width: 60rem;
  padding: 2rem;

  border: none;

  background-color: rgba($black, 0.98);

  pointer-events: initial;

  &.center-title > .modal-header {
    justify-content: center;
  }

  > .modal-header {
    display: flex;

    align-items: stretch;

    flex-shrink: 0;

    padding-bottom: 2rem;

    color: $white;

    h2 {
      padding: 1rem 2rem;
    }

    .button-close {
      margin-left: auto;
      padding: 1rem;

      border-radius: 0;
    }
  }

  > .modal-content {
    flex-shrink: 1;

    padding: 0 2rem;

    color: $white;

    &.no-pad {
      padding: 0;
    }

    &.center {
      justify-content: center;

      text-align: center;
    }

    a {
      &:hover,
      &:focus {
        color: $white;
      }
    }

    .info {
      max-width: 56rem;
      padding: 0 2rem 2rem;
    }

    input {
      color: $black;
    }

    .store-errors {
      display: flex;

      justify-content: center;

      .store-error {
        min-width: 80%;
        margin: 1rem 0;
      }
    }
  }

  .modal-footer {
    padding: 2rem 0 0;

    color: $white;
  }

  menu[type='toolbar'] {
    display: flex;

    flex-shrink: 0;

    padding: 0;

    > .primary,
    > .secondary {
      display: flex;

      align-items: baseline;
    }

    > .primary {
      order: 2;

      margin-left: auto;

      > *:not(:first-child) {
        margin-left: 1rem;
      }
    }

    > .secondary {
      order: 1;

      margin-right: auto;

      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    button,
    .button {
      border-radius: 0;
    }
  }

  @media screen and (max-width: 768px) {
    min-width: 100vw;

    > .modal-content .info {
      max-width: initial;
    }
  }
}
