form {
  &.compact fieldset {
    padding: 0.5rem 4rem;
  }

  &.dialog fieldset {
    padding: 0.5rem 2rem;
  }

  &.dialog .message {
    margin: 0 auto 0.5rem;
  }


  &.compact .formRow fieldset {
    padding: 0.5rem 0.25rem;
  }

  &.compact .formCol fieldset {
    padding: 0.25rem 0.5rem;
  }

  .formRow {
    display: flex;

    flex-direction: row;
  }

  .formCol {
    display: flex;

    flex-direction: column;
  }
}
