form {
  &.compact fieldset {
    padding: 0.5rem 4rem;
  }

  &.dialog fieldset {
    padding: 0.5rem 2rem;
  }

  &.dialog .message {
    margin: 0 auto 0.5rem;
  }


  &.compact .form-row fieldset {
    padding: 0.5rem 0.25rem;
  }

  &.compact .form-col fieldset {
    padding: 0.25rem 0.5rem;
  }

  .form-row {
    display: flex;

    flex-direction: row;
  }

  .form-col {
    display: flex;
    flex-direction: column;
  }


}
