%text-input {
  width: 100%;
  padding: 1rem;

  border-width: 0.1rem;
  border-style: solid;
  border-color: $grey-lightened;

  color: inherit;
  box-shadow: 0 0 0.5rem 0 rgba($grey, 0);
  outline: none;

  font-size: inherit;
  font-family: inherit;
  transition-duration: 0.5s;
  transition-property: border-color, box-shadow;

  &:focus {
    border-color: $grey;

    box-shadow: 0 0 0.5rem 0 rgba($grey, 0.5);
  }

  &[required] {
    border-color: $red-lightened;

    &:focus {
      border-color: $red;

      box-shadow: 0 0 0.5rem 0 rgba($red, 0.5);
    }

    &:valid {
      border-color: $green-lightened;

      &:focus {
        border-color: $green;

        box-shadow: 0 0 0.5rem 0 rgba($green, 0.5);
      }
    }
  }

  &.dark {
    color: $white;
    background: $black-lightened;
    box-shadow: none;

    &:not(.inline) {
      border-width: 0;
      border-color: transparent;
    }


    &[required] {
      border-width: 0 0 0.3rem;
      border-color: $red;

      box-shadow: none;

      &:valid {
        border-color: $green;
      }
    }
  }

  &.inline {
    display: inline;

    width: auto;
    padding: 0.25rem;

    background: transparent;
  }
}

input {
  &[type='date'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='email'],
  &[type='month'],
  &[type='number'],
  &[type='password'],
  &[type='search'],
  &[type='tel'],
  &[type='text'],
  &[type='time'],
  &[type='url'],
  &[type='week'] {
    @extend %text-input;
  }

  &[type='checkbox'],
  &[type='radio'] {
    &[hidden]:checked + label.button {
      background-color: transparent;
      color: $red;
    }
  }
}

textarea {
  @extend %text-input;

  min-height: 10rem;
}


input[type='checkbox'] {
  appearance: none;
  display: inline-flex;
  position: relative;

  place-content: center;

  width: 1em;
  height: 1em;

  border: 0.2rem solid $red;

  background: transparent;
  outline: none;

  font-size: 13px;

  vertical-align: baseline;

  &:indeterminate {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      border: 0.2rem solid transparent;

      background: padding-box $red;
    }

    &::-ms-check {
      border: 0.2rem solid transparent;

      background: padding-box $red;
      color: $red;
    }
  }

  &:checked {
    &::-ms-check {
      border: none;

      background: transparent;
      color: $red;
    }

    &::before {
      display: block;
      position: absolute;
      top: 0;

      content: '';
      width: 0.25em;
      height: 0.5em;

      border-right: 0.2rem solid $red;
      border-bottom: 0.2rem solid $red;

      transform: rotate(45deg);
    }
  }

  &.large {
    font-size: 16px;
    vertical-align: middle;
  }
}

.ReactTable .rt-thead.-filters input {
  @extend %text-input;

  border-radius: 0;

  color: $black;
}
