$margin: 2rem;

.page.paperwork {
  // overflow-x: hidden;
  th {
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid #000000;
  }

  menu[type='toolbar'] {
    width: 100%;
    padding: 0.5rem 2rem;

    div.primary {
      align-items: center;

      button:not(:first-child),
      .button:not(:first-child) {
        margin-left: 1rem;
      }
    }

    div.invalidity-explainer {
      display: inline-block;

      padding: 0 2rem;

      color: #000000;
      background-color: $red;
      opacity: 0;
      transition:
        transform 0.2s,
        opacity 0.2s;

      transform: translateX(calc(50% + 9rem)) scaleX(0);

      &.show {
        opacity: 1;

        transform: translateX(9rem) scaleX(1);
      }

      &.no-change {
        background-color: $grey;
      }
    }

    button[type='submit'] {
      transition: transform 0.2s;

      transform: translateX(0%) scale(1);

      &[disabled] {
        transform: translateX(50%) scale(0);
      }
    }
  }

  .page-content {
    display: flex;

    flex-flow: row wrap;
    align-content: flex-start;
  }

  header.paperwork-header,
  .rescue-tags {
    margin: 0.5rem $margin;
  }

  .info,
  .panel {
    margin: $margin;
  }

  :not(form) header.paperwork-header {
    // For view (but nopt edit) paperwork
    order: 1;

    margin-left: calc(#{$margin} + 0.5rem);
  }

  header.paperwork-header {
    display: flex;

    flex-flow: row nowrap;
    align-items: center;

    flex: 1 1 auto;

    width: 100%;
    margin-right: calc(#{$margin} + 0.5rem);

    color: rgba($white, 0.5);
    background-color: $red;

    font-size: 2em;
    line-height: normal;

    transform: skewX(-10deg);

    > div {
      padding: 0.2em 0.4em;

      &.board-index {
        flex: 0 0 auto;
        align-self: flex-start;

        margin: 0.2rem;
        // background: $white;
        color: $white;

        font-weight: bold;
      }

      &.title {
        margin: 0.2rem 0.2rem  0.2rem 0.2em;
      }

      > span {
        display: inline-block;

        transform: skewX(10deg);
      }

      .cmdr-name,
      .system,
      .rescue-title {
        color: $white;

        font-weight: bold;
      }
    }
  }

  .rescue-tags {
    order: 3;
    flex: 1 1 auto;

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    color: $white;
    opacity: 0.9;

    font-size: 0.9em;
    font-weight: bold;
    line-height: normal;

    .md-group,
    .tag {
      margin: 0 0.5rem 0.5rem 0;

      border: 0.2rem solid $black;

      background: $black;
    }

    .tag,
    .tag.status-group > span {
      display: inline-block;

      padding: 0.4em 0.8em;
    }

    .tag {
      display: inline-block;

      text-transform: capitalize;

      &.status-group {
        padding: 0;

        .outcome {
          color: $black;
          background: $white;

          font-weight: normal;
        }
      }


      &.platform {
        text-transform: uppercase;

        &.pc {
          color: change-color($red, $lightness: 66);
        }

        &.xb {
          color: change-color($xbox-green, $lightness: 37);
        }

        &.ps {
          color: change-color($playstation-blue, $lightness: 65);
        }
      }

      &.code-red {
        color: change-color($red, $lightness: 66);

        text-transform: uppercase;
      }
    }

    .md-group {
      display: inline-flex;

      .marked-for-deletion,
      .md-reason {
        padding: 0.4em 0.8em;
      }

      .md-reason {
        flex: 0 1 auto;

        color: $black;
        background: $white;

        font-weight: normal;
      }

      .md-reporter {
        display: inline-block;
      }
    }
  }

  .info {
    display: grid;

    grid-template-columns: min-content auto;
    grid-column-gap: 1em;
    // margin: 0.5rem 0 1rem 0;
    order: 5;
    flex: 0 0 auto;
    align-self: flex-start;

    padding: 0.5em 1em;

    .label {
      grid-column: 1;

      opacity: 0.5;
    }

    .cmdr-name,
    .system {
      font-weight: bold;
    }

    @media screen and (max-width: 768px) {
      order: 4;
      // margin-top: 0;
      width: 100%;
    }
  }

  .panel {
    order: 6;
    flex: 1 1 auto;

    width: 100%;

    &.rats {
      order: 4;
      flex: 1 0 auto;

      width: auto;
    }

    &.notes .panel-content {
      white-space: pre-line;
    }

    .panel-content {
      ul li {
        margin-bottom: 0.5em;

        &.unidentified {
          font-style: italic;

          .badge {
            background: #B0A154;
          }
        }

        .badge {
          margin-left: 0.5em;

          font-style: normal;
        }
      }

      ol li {
        display: flex;

        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: space-between;

        margin-bottom: 0.5em;

        &:not(:last-of-type) {
          padding-bottom: 0.5em;

          border-bottom: 0.1rem solid rgba(70, 70, 70, 0.05);
        }

        .times,
        .authors {
          flex: 0 0 auto;

          opacity: 0.5;

          font-size: 0.8em;
          line-height: normal;

          .label {
            font-size: 0.8em;
          }
        }

        .times {
          margin-right: 1em;

          .created {
            margin-right: 1em;
          }

          .updated {
            .label {
              display: block;

              margin-top: 0.3em;

              opacity: 0.7;
            }
          }
        }

        .message {
          flex: 1 1 auto;
        }

        .authors {
          align-self: flex-end;

          margin-left: 1em;

          text-align: right;

          .last-author {
            margin-left: 1em;

            .label {
              display: block;

              margin-top: 0.3em;

              opacity: 0.7;
            }
          }
        }

        @media screen and (max-width: 1040px) {
          flex-flow: column nowrap;

          .times,
          .authors {
            .created,
            .updated,
            .author,
            .last-author {
              display: inline-block;

              .label {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
