.page.your-cart {
  .cart-items {
    display: flex;

    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    max-width: 70rem;

    .cart-item {
      display: flex;

      flex-direction: row;
      align-items: center;

      padding: 1rem 0;

      &:not(:first-child) {
        border-top: 1px solid $black;
      }

      > * {
        margin-right: 0.5rem;
      }

      .item-name {
        margin-right: auto;
        margin-left: 1rem;

        font-size: 1.1em;

        .subscript {
          font-size: 0.7em;
        }
      }

      .item-quantity {
        max-width: 10rem;
      }
    }

    .key {
      .item-name-key {
        margin-right: auto;
      }

      .item-quantity-key {
        margin-right: 16rem;
      }
    }
  }
}
