.page.surlys-vision .page-content {
  align-items: center;

  .question {
    display: block;

    padding-left: 1rem;
  }

  ol {
    padding-left: 2rem;

    list-style: decimal;
  }

  ul {
    margin-bottom: 2rem;

    list-style: none;
  }
}
