@import '../fonts';
@import '../colors';

.container {
  background-image: url('../../../public/static/images/errorpage/metal-bg.jpg');
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
  grid-template-areas:
    'post1 post2'
    'polo post3';
	padding: 5%;
	grid-row-gap: 5vw;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
}
.postit {
	display: table;
	transform: rotate(5deg);
}
.sticky {
	position: relative;
	background-color: #F4F39E;
	border-color: #DEE184;
	color: #47576B;
	text-align: center;
	margin: 2.5em 0px;
	padding: 1.5em 1em;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	width: 250px;
	font-family: 'Indie Flower', cursive;
	.taped {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		&:after {
			display: block;
			content: "";
			position: absolute;
			width: 110px;
			height: 30px;
			top: -21px;
			left: 30%;
			border: 1px solid #fff;
			background: rgba(254, 254, 254, 0.1);
			-webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
		}
	}
}
.note {
	position: relative;
	background-color: #F4F39E;
	border-color: #DEE184;
	text-align: center;
	margin: 1.5em auto;
	padding: 1.5em 1em;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	width: 250px;
	font-family: 'The Girl Next Door', cursive;
	font-size: 1em;
	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 110px;
		height: 30px;
		top: -21px;
		left: 30%;
		border: 1px solid #fff;
		background: rgba(254, 254, 254, 0.6);
		-webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
		clip-path: polygon(0 0, 100% 0, 100% 0%, 94% 5%, 100% 10%, 94% 15%, 100% 20%, 94% 25%, 100% 30%, 94% 35%, 100% 40%, 94% 45%, 100% 50%, 94% 55%, 100% 60%, 94% 65%, 100% 70%, 94% 75%, 100% 80%, 94% 85%, 100% 90%, 94% 95%, 100% 100%, 0 100%, 6% 100%, 0% 95%, 6% 90%, 0% 85%, 6% 80%, 0% 75%, 6% 70%, 0% 65%, 6% 60%, 0% 55%, 6% 50%, 0% 45%, 6% 40%, 0% 35%, 6% 30%, 0% 25%, 6% 20%, 0% 15%, 6% 10%, 0% 5%);
	}
}
.polaroid {
	position: relative;
	width: 300px;
	height: 360px;
	background: #FFF;
	background: linear-gradient(120deg, #fff, #DDD 60%);
	box-shadow: 1px -1px 15px 0px rgba(0, 0, 0, 0.6), inset 4px 5px 10px 0 rgba(0, 0, 0, 0.1);
	-webkit-backface-visibility: hidden;
	h4 {
		position: relative;
		bottom: 5px;
		padding: 15px 20px;
		letter-spacing: 0.1em;
	}
	p {
		position: relative;
		bottom: -5px;
		padding: 15px 20px;
		letter-spacing: 0.1em;
	}
	.polaroidImg {
		position: relative;
		top: 20px;
		left: 10px;
		width: 280px;
		height: 280px;
		background: #eee;
		overflow: hidden;
		img {
			width: 100%;
			z-index: -1;
		}
	}
	.gloss {
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.5) 99%);
		box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}
.topLeft {
	composes: postit;
	grid-area: post1;
	transform: rotate(8deg);
}
.topRight {
	composes: postit;
	grid-area: post2;
	transform: rotate(15deg);
}
.btmRight {
	composes: postit;
	grid-area: post3;
	transform: rotate(5deg);
}
.sidePolo {
	composes: polaroid;
	grid-area: polo;
	transform: rotate(7deg);
	place-self: center;
}
.errorPolo {
	composes: polaroid;
	position: absolute;
	top: calc(50% - 140px);
	right: calc(50% - 150px);
	transform: scale(1.25);
}
