@import '../../scss/colors';

.ratLeaderboard {
  display: flex;

  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.1);

  overflow: auto;
}

.ratLeaderboard ol {
  display: flex;

  flex-direction: column;

  margin-bottom: 0;
}

.ratLeaderboard li {
  display: inline-flex;

  align-items: center;

  flex: 1 0 auto;

  min-height: 60px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.ratLeaderboard ol > li > div {
  padding: 1rem;

  border-right: 1px solid rgba(0, 0, 0, 0.02);

  line-height: 2;
}

.ratLeaderboardHeader {
  display: flex;
}

.ratLeaderboardHeader div {
  display: flex;

  padding: 1rem;

  background-color: $black;
  color: $white;

  line-height: 2;
}

.ratLeaderboardHeader input {
  width: 250px;
  max-width: 50vw;
  margin-left: 0.75rem;
  padding: 0 0.75rem;

  color: $black;
}

.ratName {
  display: flex;

  align-items: center;
  gap: 0.75rem;

  flex: 3 1 0;

  min-width: 0;
}

.ratRescues {
  flex: 0 0 auto;

  width: 65px;

  text-align: center;
}

.ratBadges {
  flex: 2 1 0;

  min-width: 0;

  border-right: 0;

  @media screen and (max-width: 500px) {
    display: none;
  }
}
