article {
  line-height: 2.5;

  > aside,
  > header {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  > small {
    border-color: $grey;
    border-style: solid;
    border-width: 0.1rem;

    border-left: none;
    border-right: none;
    display: block;
    margin: 2rem 4rem;
    padding: 0 1rem;

    > * {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .article-content {
    h1, h2, h3,
    h4, h5, h6,
    header,
    ol,
    p,
    ul {
      margin-bottom: 2rem;
      margin-left: 4rem;
      margin-right: 4rem;
    }

    h1, h2, h3,
    h4, h5, h6 {
      margin-top: 4rem;
    }

    ol,
    ul {
      li:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .link-more {
    display: none;
  }
}
