form {
  &.compact fieldset {
    padding: 0.5rem 4rem;
  }

  &.dialog fieldset {
    padding: 0.5rem 2rem;
  }

  &.compact .form-row {
    &.submit-row {
      padding: 0.4rem 0;

      fieldset,
      > div {
        padding: 0.1rem 0.25rem;
      }
    }

    fieldset,
    > div {
      padding: 0.5rem;

      &:first-child {
        padding-left: 4rem;
      }

      &:last-child {
        padding-right: 4rem;
      }
    }
  }

  .form-row {
    display: flex;

    flex-direction: row;
  }
}
