select {
  padding: 1rem;
  border: 0.1rem solid $grey-lightened;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  transition-duration: 0.5s;
  transition-property: border-color, box-shadow;
  width: 100%;
  appearance: none;

  &:not(:valid) {
    color: #999;
  }

  option {
    color: #000;
    &[value=""] {
      display: none;
      color: #999;
    }
  }

  &.required {
    border-color: $red-lightened;
    &:focus {
      border-color: $red;
      box-shadow: 0 0 0.5rem 0 rgba($red, 0.5);
    }

    &:valid {
      border-color: $green-lightened;
      &:focus {
        border-color: $green;
        box-shadow: 0 0 0.5rem 0 rgba($green, 0.5);
      }
    }
  }
}


div.select-wrapper {
  position: relative;

  &::after {
    content: '▼';
    color: #999;
    font-size: 1rem;
    line-height: 2;
    top: 0;
    right: 0;
    padding: 1rem;
    position: absolute;
    pointer-events: none;
  }
}
