$svg-sizes: 16, 32, 64, 128, 256;

svg {
  fill: currentColor;

  @each $size in $svg-sizes {
    &.size-#{$size} {
      max-width: #{$size}px;
      max-height: #{$size}px;

      &.fixed {
        min-width: #{$size}px;
        min-height: #{$size}px;
      }
    }
  }

}



.svg-list {
  > svg {
    padding-right: 0.5rem;
  }
}
