th {
  font-weight: bold;
  padding-right: 1rem;
}


th,
td {
  text-align: left;
  vertical-align: middle;
}

table {
  max-width: 100%;
  table-layout: fixed;

  &.full-width {
    width: 100%;
  }

  &.padded {
    th,
    td {
      padding: 1rem;
    }

    &.compact {
      th,
      td {
        padding: 0.5rem;
      }
    }
  }

  &.striped {
    tr:nth-child(even) {
      background-color: $light-grey;
    }
  }
}

thead {
  background-color: $black;
  color: $white;
}

td.total {
  border-top: 3px double $black;
}
