table {
  max-width: 100%;
  table-layout: fixed;

  &.full-width {
    width: 100%;
  }

  &.padded {
    th, td {
      padding: 1rem;
    }

    &.compact {
      th, td {
        padding: .5rem;
      }
    }
  }

  &.striped {
    tr:nth-child(even) {
      background-color: $light-grey;
    }
  }
}

thead {
  background-color: $black;
  color: $white;
}

th, td {
  text-align: left;
  vertical-align: middle;
}

th {
  font-weight: bold;
  padding-right: 1rem;
}

td.total {
  border-top: 3px double $black;
}
