@import '../../../scss/colors';

.passwordInput {
  input::-ms-reveal {
    display: none;
  }

  :global(.validityIconGroup) {
    right: 2.85rem;
  }

  .showButton {
    --text-color: #{$grey-darkened};
    --text-color-hover: #{$red};
    --background-color: transparent;

    position: absolute;
    top: 1px;
    right: 1px;


    padding: 1rem;

    border: none;
  }
}
