@function stripe-gradient ($angle, $base-color, $stripe-color, $stripe-count, $stripe-width) {
  $total-stripes: $stripe-count * 2;
  $stops: ();

  @for $idx from 1 through $total-stripes {
    $start-pos: (($idx - 1) * $stripe-width);
    $end-pos: ($idx * $stripe-width);
    $stripe: $stripe-color $start-pos $end-pos;

    @if $idx == $total-stripes {
      $stripe: $base-color $start-pos 100%;
    } @else if ($idx % 2) == 0 {
      $stripe: $base-color $start-pos $end-pos;
    }

    $stops: append($stops, $stripe, 'comma');
  }

  @return linear-gradient($angle, $stops);
}
