@function stripe-gradient ($angle, $colorBase, $colorStripe, $stripeCount, $stripeWidth) {

  $stops: ();

  @for $idx from 1 through ($stripeCount * 2) {
    @if $idx == ($stripeCount * 2) {
      $stops: append($stops, $colorBase #{($idx - 1) * $stripeWidth}px 100%, 'comma');
    } @else if ($idx % 2) == 0 {
      $stops: append($stops, $colorBase #{($idx - 1) * $stripeWidth}px #{$idx * $stripeWidth}px, 'comma');
    } @else {
      $stops: append($stops, $colorStripe #{($idx - 1) * $stripeWidth}px #{$idx * $stripeWidth}px, 'comma');
    }
  }

  @return linear-gradient(
    $angle,
    #{$stops}
  );
}
