@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('/static/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
