.page.i-need-fuel {
  .buttons {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    .call-to-action {
      font-size: 1em;
      padding: 1rem 4rem;
      max-width: 50%;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
