.page.paperwork {
  th {
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid black;
  }

  menu[type=toolbar] div.primary {
    align-items: center;


    div.invalidity-explainer {
      background-color: $red;
      color: white;
      padding: 0 2rem;
      display: inline-block;
      opacity: 0;
      transition:
        transform .2s,
        opacity .2s;
      transform: translateX(calc(50% + 9rem)) scaleX(0);

      &.show {
        opacity: 1;
        transform: translateX(9rem) scaleX(1);
      }

      &.no-change {
        background-color: $grey;
      }
    }

    button[type="submit"] {
      transform: translateX(0%) scale(1);
      transition: transform .2s;

      &[disabled] {
        transform: translateX(50%) scale(0);
      }
    }
  }


}
