@font-face {
  font-display: fallback;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  src: local('Raleway'), local('Raleway-Regular'), url('/static/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
