@import '../../scss/colors';


.dispatchTable {
  --table-border-color: #3C3C3C;
}


.table {
  min-width: 100%;
  margin-bottom: 0.5rem;

  border: 1px solid var(--table-border-color);

  background-color: $black;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    background-color: $black-darkened;

    > tr > th {
      padding: 4px 8px;

      border: 1px solid var(--table-border-color);
      border-top: 0;
      border-bottom-width: 2px;

      text-align: left;
      vertical-align: bottom;
    }
  }

  tbody > tr > td {
    max-width: 300px;
    padding: 8px;

    border: 1px solid var(--table-border-color);

    line-height: 27px;

    overflow: hidden;
    vertical-align: middle;

    &.rescueRowFocus {
      height: 4rem;
      padding: 0.4rem;

      :global(.button) {
        display: inline-flex;

        align-items: center;

        justify-content: center;

        width: 100%;
        height: 100%;

        svg {
          align-items: baseline;
          vertical-align: middle;
        }
      }
    }
  }
}

.codeRed {
  background-color: rgba($red, 0.2);
}

.inactive {
  opacity: 0.25;
}
