.page.acknowledgements {
  .credit-section {
    display: flex;

    flex-direction: row;
    align-items: center;

    margin-top: 2rem;
    padding: 1rem;

    background: rgba(127, 127, 127, 0.1);

    p {
      margin-left: 2em;
    }

    @media screen and (max-width: 1040px) {
      flex-direction: column;
    }
    @media screen and (max-width: 500px) {
      a {
        width: calc(100% - 4rem);
      }

      .brand-image {
        width: 100%;
      }
    }
  }

  .brand-image {
    flex-shrink: 0;

    width: 400px;
    height: 125px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.atlassian-brand {
      background-image: url('/static/images/brandlogos/atlassian.png');
    }

    &.statuspage-brand {
      background-image: url('/static/images/brandlogos/statuspage.png');
    }

    &.jetbrains-brand {
      background-image: url('/static/images/brandlogos/jetbrains.png');
      background-size: 55%;
    }

    &.slack-brand {
      background-image: url('/static/images/brandlogos/slack.png');
    }

    &.onepass-brand {
      background-image: url('/static/images/brandlogos/onepassword.png');
    }
  }

  .dependency-list {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 2rem;

    > span {
      border-bottom: 0.1rem solid $black;

      font-size: 1.25em;
      font-family: Raleway, sans-serif;
    }

    > ul {
      min-width: 450px;
      max-height: 550px;
      margin: 1rem;
      padding: 0.5rem 1rem;

      border: 0.1rem solid $black;

      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
