.page.donate {
  .donationAmount {
    .options {
      flex-direction: row;
      .radio-card {
        display: block;
        width: 100%;
      }
    }
  }

  .donationType {
    display: flex;
    flex-direction: column;
  }
}
