@import '../../scss/colors';

.groupBadge {
  display: inline-flex;

  align-items: center;

  margin: 0.25rem;
  padding: 0.2em 0.6em;

  border-radius: 4px;

  color: $white;
  background-color: #555555;

  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  gap: 0.35em;
}
