.groupBadge {
  display: inline-flex;

  align-items: center;
  gap: 0.35em;

  margin: 0.25rem;
  padding: 0.2em 0.6em;

  border-radius: 4px;

  color: white;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;

  background-color: #555;
}
