@import '../scss/colors';

.container {
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 600px;

  border-collapse: collapse;
  border: 1px solid $grey-dark;

  thead tr {
    border-bottom: 2px solid $grey-dark;
  }

  th {
    padding: 4px 8px;

    font-size: 0.85rem;
    text-align: left;
    text-transform: uppercase;

    color: $grey;
  }

  td {
    padding: 0.5rem 0.8rem;

    border-top: 1px solid $grey-dark;

    line-height: 27px;
    vertical-align: middle;
  }

  tbody tr {
    transition: background-color 0.15s;

    &:nth-child(even) {
      background-color: $light-grey;
    }

    &:hover {
      background-color: rgba($grey, 0.2);
    }
  }
}

.empty {
  padding: 2rem;

  text-align: center;

  color: $grey;
}

.cmdr {
  font-weight: 600;
  white-space: nowrap;

  small {
    font-weight: normal;

    color: $grey;
  }
}

.system {
  color: $grey-darkened;
}

.platform {
  text-transform: uppercase;
  font-size: 0.85rem;

  padding: 0.25em 0.6em;
}

.pc {
  background-color: $red;

  &:global(.horizons3) {
    background-color: darken(#d650d6, 30%);
  }

  &:global(.horizons4) {
    background-color: darken(#5bc0de, 30%);
  }

  &:global(.odyssey) {
    background-color: darken(#d1b000, 15%);
  }
}

.ps {
  background-color: lighten(#003791, 30%);
}

.xb {
  background-color: lighten(#107c10, 10%);
}

.crBadge {
  margin-left: 0.4rem;

  background-color: rgba(255, 87, 69, 0.8);
}

.codeRed {
  background-color: rgba(255, 87, 69, 0.25);
}

.outcome {
  display: inline-flex;

  align-items: center;
  gap: 0.3rem;

  white-space: nowrap;
}

.success {
  color: $green;
}

.failure {
  color: $red;
}

.invalid {
  color: $yellow;
}

.other {
  color: $grey;
}

.rats {
}

.date {
  font-size: 0.85rem;
  white-space: nowrap;

  color: $grey-darkened;
}

.actions {
  text-align: center;
}

.paperworkLink {
  color: $grey;
  font-size: 1.1rem;

  &:hover {
    color: white;
  }
}

.footer {
  padding: 0.5rem 1rem;

  border: 1px solid $grey-dark;
  border-top: none;

  font-size: 0.85rem;
  text-align: right;

  color: $grey;
}
