#burger {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  display: none;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#burger:hover {
  background-color: $white;
  color: $black;
}

#header-container {
  height: 100%;
  color: $white;
  background-color: $black;
}

#nav-control {
  display: none;
}

@media only screen and (max-width: 768px) {
  #burger {
    display: inline-block;
    text-align: left;
    z-index: 100;
  }

  #nav-control:checked ~ #burger {
    left: 21rem;
  }

  #nav-control:not(:checked) ~ #burger {
    left: 0px;
  }

  #nav-control:checked ~ header {
    display: flex;
    width: 21rem;
  }

  #nav-control:not(:checked) ~ header {
    display: none;
    width: 0px;
  }
}

[role=banner] {
  height: 100%;
  align-items: stretch;
  border-right-color: $red;
  border-right-style: solid;
  border-right-width: 0.5rem;
  display: flex;
  width: 21rem;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
  position: relative;
  text-align: center;

  &:before {
    content: '';
    height: 100px;
    position: absolute;
    right: 150%;
    top: 0;
    width: 100%;
  }

  nav {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;

    ul {
      align-content: stretch;
      display: flex;
      flex-direction: column;
    }

    li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin: 0;
      }
    }

    a,
    label {
      color: inherit;
      cursor: pointer;
      display: block;
      outline: none;
      overflow: hidden;
      padding: 2rem 0;
      position: relative;
      text-decoration: none;
      white-space: nowrap;

      span {
        position: relative;
        z-index: 1;
      }

      &:after,
      &:before {
        background-color: $red;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        transition: all 0.3s;
        width: 0;
        z-index: 0;
      }

      &:after {
        right: 50%;
      }

      &:before {
        left: 50%;
      }

      &:focus,
      &:hover {
        color: $white;

        &:after,
        &:before {
          width: 50%;
        }
      }
    }

    input[type=checkbox][data-subnav] {
      display: none;

      &:not(:checked) + [data-subnav] {
        left: 100%;
      }

      + [data-subnav] {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: left 0.5s;
        width: 100%;
      }
    }
  }

  .join-actions {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    overflow: hidden;
    width: 100%;

    .get-help {
      animation-direction: reverse;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: grow-height;
      max-height: 0;
      width: 100%;

      &.hide {
        animation-duration: 0s;
      }

      &.show {
        animation-direction: normal;
        max-height: 100vh;
      }
    }

    button,
    .button {
      margin: 0 2rem 2rem;
      width: calc(100% - 4rem);
    }
  }
}
