.hero {
  @include dimmer-gradient(url(/static/images/slideshow_1.jpg));

  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  justify-content: center;
  padding: 6rem;
  text-shadow: 0 0 0.2rem rgba($black, 0.5);

  h1 {
    font-size: 5em;
  }

  .call-to-action {
    margin-top: 5rem;

    .button {
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      animation-name: wiggle;
      box-shadow: 0 0 1rem 0 $black;
      font-weight: bold;
      font-size: 1.5em;
      padding: 1rem 4rem;
      text-transform: uppercase;
    }
  }
}
