.loading {
  &:empty,
  &.force {
    position: relative;

    &:after,
    &:before {
      align-content: center;
      align-items: center;
      color: $black;
      display: flex;
      justify-content: center;
      position: absolute;
    }

    &:after {
      animation-delay:
        0s,
        1s;
      animation-duration:
        1s,
        4s;
      animation-fill-mode: forwards;
      animation-iteration-count:
        1,
        infinite;
      animation-name:
        loading-start,
        loading;
      border-color: currentColor;
      border-radius: 100%;
      border-style: solid;
      border-width: $loader-border-width;
      content: '';
      height: $loader-size;
      left: 50%;
      margin-left: -(($loader-size / 2) + $loader-border-width);
      margin-top: -(($loader-size / 2) + $loader-border-width);
      top: 50%;
      width: $loader-size;
      z-index: 100;
    }

    &:before {
      background-color: rgba(white, 0.8);
      border-color: transparent;
      content: 'Loading';
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 100;
    }

    &[data-loader-text]:before {
      content: attr(data-loader-text)
    }
  }
}
