div[role=dialog].login-dialog {
  @media screen and (max-width: 768px) {
    menu[type=toolbar] {
      flex-direction: column-reverse;

      > .primary,
      > .secondary {
        margin: initial;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;

        button,
        .button {
          margin: 0;
          min-width: 80%;

          &:not(:first-child) {
            margin-bottom: 2rem;
          }
        }

        &:not(:first-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
