.password-group {
  position: relative;

  .password-strength-meter {
    appearance: none;
    background-image: none;
    height: 0.3rem;
    margin-top: -0.1rem;
    pointer-events: none;
    position: absolute;
    width: 100%;

    &[value="0"] {
      background-image: linear-gradient(
        to right,
        $red 20%,
        $transparent 20%
      );
    }

    &[value="1"] {
      background-image: linear-gradient(
        to right,
        $red 40%,
        $transparent 40%
      );
    }

    &[value="2"] {
      background-image: linear-gradient(
        to right,
        $yellow 60%,
        $transparent 60%
      );
    }

    &[value="3"] {
      background-image: linear-gradient(
        to right,
        $yellow 80%,
        $transparent 80%
      );
    }

    &[value="4"] {
      background-color: $green;
    }
  }

  .info {
    background-color: $red;
    color: $white;
    left: 0;
    opacity: 0;
    padding: 0 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transition: opacity 0.2s;

    i {
      margin-right: 1rem;
    }
  }

  &[data-focused=true] .info {
    opacity: 1;
  }
}
