.ReactTable {
  border: none;

  .rt-noData:empty {
    display: none;
  }

  .rt-thead {
    background-color: $black;
    color: $white;
  }

  .rt-thead .rt-th,
  .rt-tbody .rt-td {
    line-height: 2;
    padding: 1rem;

    &.-sort-asc {
      box-shadow: inset 0 3px 0 0 rgba($red, 0.6);
    }

    &.-sort-desc {
      box-shadow: inset 0 -3px 0 0 rgba($red, 0.6);
    }
  }

  .rt-tr.clickable {
    background-color: rgba($light-grey, 0);
    cursor: pointer;
    transition-duration: 50ms;
    transition-property: background-color;

    &:hover {
      background-color: rgba($light-grey, 1);
    }
  }

  .ReactTable {
    border-bottom: none;
    border-left: none;
    border-right: none;

    .rt-thead {
      background-color: $grey;
    }
  }
}
