$bubble-stroke-width: 2;

.rescues-by-system-chart {
  text-align: center;

  text {
    fill: white;
  }

  .platform,
  .system {
    transition: fill 0.5s;

    &.pc {
      fill: rgba($xbox-green, 0.7);
      stroke: rgba($xbox-green, 1);
      stroke-width: $bubble-stroke-width;
    }

    &.ps {
      fill: rgba($playstation-blue, 0.7);
      stroke: rgba($playstation-blue, 1);
      stroke-width: $bubble-stroke-width;
    }

    &.xb {
      fill: rgba($red, 0.7);
      stroke: rgba($red, 1);
      stroke-width: $bubble-stroke-width;
    }
  }

  .platforms {
    text {
      font-weight: bold;
    }
  }

  + .tooltip {
    th,
    td {
      padding: 0 0.5rem;
    }

    thead th,
    td {
      text-align: right;
    }

    .codeRed {
      color: $red;
    }
  }
}
