.store-error {
  margin: 0 2rem 2rem;
  padding: 1rem;
  border: 1px solid $red;
  background: rgba(255,127,127,.15);
  color: $red-darkened;
  line-height: 35px;

  & * {
    margin-left: 2.75rem;
    margin-bottom: 0;
  }

  & p:first-child {
    display: inline;
    margin-left: 1rem;
  }

  &:before {
    content: '⚠';
    float: left;
    color: $black;
    display: inline;
    opacity: .75;
    font-size: 30px;
    font-weight: bold;

  }
}