// Base styles
.tags-input {
  align-content: stretch;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;

  input {
    flex-grow: 1;

    &:not(:focus) + .options {
      display: none;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .options:empty {
    display: none;
  }

  .option,
  .tag {
    &.focus {
      background-color: rgba(black, 0.2);
    }
  }

  .loader,
  .no-results,
  .options {
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .return-prompt {
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

  &.focus {
    .return-prompt.show {
      opacity: 1;
    }
  }

  &[data-single] {
    .tags {
      align-content: stretch;

      &:not(:empty) {
        width: 100%;

        ~ * {
          display: none;
        }
      }
    }

    .tag {
      flex-grow: 1;
    }
  }
}





// Fuelrats styles
.tags-input {
  border-color: $grey-lightened;
  border-style: solid;
  border-width: 0.1rem;
  transition-duration: 0.5s;
  transition-property: border-color, box-shadow;

  &.focus {
    border-color: $grey;
    box-shadow: 0 0 0.5rem 0 rgba($green-lightened, 0.5);
  }

  &[required]:not(.has-tags) {
    border-color: $red-lightened;

    &.focus {
      box-shadow: 0 0 0.5rem 0 rgba($red, 0.5);
    }
  }

  input[type=search] {
    border: none;
    width: auto;

    &:focus {
      box-shadow: none;
    }
  }

  button {
    background-color: transparent;
    background-image: none;
    border: none;
    color: inherit;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0 1rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: inherit;
    }
  }

  .tags {}

  .tag {
    align-items: center;
    background-color: lightgrey;
    margin: 0.5rem;
    padding: 0;
    padding-left: 0.5rem;
  }

  .loader,
  .no-results,
  .options {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    z-index: 1;
  }

  .option {
    cursor: pointer;
    padding: 1rem;

    &.focus {
      background-color: lightgrey;
    }
  }

  .loader,
  .no-results {
    padding: 1rem;
  }

  .return-prompt {
    align-items: center;
    color: grey;
    display: flex;
    padding-right: 1rem;
  }

  &[data-single] {
    .tag {
      display: flex;
      justify-content: space-between;
      margin: 0;

      button {
        padding: 1rem;
      }
    }
  }
}
