

span.text-placeholder {
  background: $grey;
  opacity: .4;
  border-radius: .9em;
  height: .9em;
  display: table-caption;

  &.loading {
    animation-name: opacity-flutter;
    animation-duration: 1s;
    animation-iteration-count: infinite
  }
}


span.text-placeholder-wrapper {
  vertical-align: middle;
}
