.tweets {
  list-style: none;
  padding: 0;

  > li {
    animation-delay: 0s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: grow-height;
    animation-timing-function: ease;
  }
}

.tweet {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name:
    fade-in,
    slide-in-from-left;
  display: flex;
  margin-bottom: 2rem;
  overflow: hidden;
  transform-style: preserve-3d;

  div {
    background-color: $white;
    border-color: $black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.2rem;
    padding: 1rem;
    position: relative;

    &:after,
    &:before {
      border-color: transparent;
      border-style: solid;
      border-left-width: 0;
      content: '';
      position: absolute;
      right: 100%;
    }

    &:after {
      border-width: 1rem;
      border-right-color: $white;
      top: 1.2rem;
      z-index: 2;
    }

    &:before {
      border-width: 1.3rem;
      border-right-color: $black;
      top: 0.9rem;
      z-index: 1;
    }
  }

  header {
    flex-shrink: 0;
    margin-right: 2rem;

    img {
      border-color: $black;
      border-style: solid;
      border-radius: 100%;
      border-width: 0.2rem;
      height: 4.8rem;
      width: 4.8rem;
    }
  }

  .media-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    &:empty {
      margin: 0;
      padding: 0;
    }

    .media {
      display: block;
    }

    .crop {
      background-size: cover;
    }

    .fit {
      background-size: contain;
    }

    li {
      margin-right: 1rem;
    }

    img {
      max-height: 20vh;
    }
  }

  p {
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
  }

  footer {
    ul {
      display: flex;
      margin-bottom: 0;
    }

    li {
      &:after {
        content: '\b7';
        margin: 0 1em;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
