.user-menu {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  z-index: 1;

  &.logged-in {
    top: 0.5rem;
  }

  header {
    font-size: 1.2em;
    font-weight: bold;
  }

  menu {
    align-content: stretch;
    align-items: stretch;
    background-color: $light-grey;
    border-color: $red;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    display: flex;
    flex-shrink: 0;
    margin-right: -2rem;
    margin-top: 2rem;
    max-height: 1rem;
    max-width: 0;
    order: 1;
    overflow: hidden;
    padding: 0;
    transition-delay:
      .5s,
      0.25s;
    transition-duration:
      0.25s,
      0.25s;
    transition-property:
      max-height,
      max-width;

    > * {
      border-right-color: $white;
      border-right-style: solid;
      border-right-width: 0.1rem;
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 20vw;
      min-width: 10rem;
      padding: 1rem;

      &:last-child {
        border-right: none;
      }
    }
  }

  nav.user {
    background-color: $black;
    padding: 0;

    a {
      color: $white;
      display: block;
      padding: 1rem;
      text-decoration: none;
      transition-property: background-color, color;
      transition-duration: 0.1s;

      &:hover {
        background-color: $red;
      }
    }
  }

  ul {
    margin-bottom: 0;
  }

  .avatar {
    order: 2;
  }

  &:hover {
    menu {
      max-height: 100vh;
      transition-delay:
        0s,
        0.25s;
      max-width: 100vw;
    }
  }

  @media only screen and (max-width: 768px) {
    &:not(.logged-in) > button.login {
      background-color: $black-lightened;
      border-color: $black-lightened;
      color: $grey;

      &:hover {
        background-color: $red;
        border-color: $black-lightened;
        color: $white;
      }
    }
  }
}
