form.add-rat {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;


  .cmdr-input {
    width: 200px;
  }

  .platform-input {
    width: 100px;
  }

  .form-control {
    button {
      margin: 1rem 0.25rem;
    }
  }


  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-end;

    .form-control {
      margin: 0 0.25rem;
    }
  }
}
