.avatar {
  display: flex;

  align-items: stretch;
  align-content: stretch;

  flex-shrink: 0;

  border: 0.2rem solid $red;
  border-radius: 50%;

  background-color: $white;

  overflow: hidden;

  &.small {
    width: 4rem;
    height: 4rem;
  }

  &.medium {
    width: 6.5rem;
    height: 6.5rem;
  }

  &.large {
    width: 10rem;
    height: 10rem;
  }

  &.xl {
    width: 17rem;
    height: 17rem;
  }

  &:empty::before {
    align-items: center;
    justify-content: center;

    content: attr(data-letter);
    width: 100%;

    background: $white;
    color: $red;

    font-size: 2em;
  }
}
