.brand {
  margin: 2rem 0;

  &:hover {
    .brand-animation-wrapper {
      > svg {
        border-radius: 50%;
        animation-duration: 3s;
        animation-name: bouncy-spin;
        animation-timing-function: cubic-bezier(0.64, 0.57, 0, 1.11);
        animation-iteration-count: infinite;
      }
    }
  }

  .brand-animation-wrapper {
    overflow: hidden;
  }

  svg {
    min-width: 5rem;
    max-width: 20.5rem;
    padding: 0 4rem;

    color: $white;
  }
}
