.carousel {
  z-index: 0;

  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-slide-text {
    position: absolute;
    right: 0;
    bottom: 1rem;

    padding: 0.6rem 1.6rem 0.6rem 1rem;

    background: #1A1A1AAA;
    color: #AAAAAA;

    text-align: right;
    font-style: italic;
    font-size: 0.95em;
  }

  .carousel-slide-picker {
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 50;

    align-items: center;

    button {
      width: 1.6rem;
      height: 1rem;
      margin: 0 0.2rem;
      padding: 0;

      border-radius: 0.2rem;

      &:hover,
      &.active {
        background-color: rgba($black, 0.75);
      }

      @media only screen and (max-width: 768px) {
        width: 1.8rem;
        height: 1.4rem;
      }
    }
  }
}
