.coin {
  position: relative;

  flex-shrink: 0;

  margin: 1rem;

  transition: transform 1s;

  transform: rotateY(0deg);
  transform-style: preserve-3d;

  &:hover {
    transform: rotateY(900deg);
  }

  &.small {
    width: 4rem;
    height: 4rem;
  }

  &.medium {
    width: 6.5rem;
    height: 6.5rem;
  }

  &.large {
    width: 10rem;
    height: 10rem;
  }

  .back,
  .front {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: stretch;
    align-content: stretch;

    flex: 0 0;

    border-width: 0.2rem solid $red;
    border-radius: 50%;

    background-color: $white;
    backface-visibility: hidden;

    overflow: hidden;
  }

  .front {
    //    background-color: $white;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }
}
