.comment {
  img {
    margin-right: 1rem;
  }

  small {
    flex-grow: 1;

    margin: 0;
  }

  header {
    display: flex;

    align-items: center;

    margin: 0;
  }

  header,
  ol,
  p,
  small,
  ul {
    margin-right: 0;
    margin-left: 0;
  }

  .content {
    padding-left: calc(48px + 1rem);
  }
}
