.donate-form {
  position: relative;

  max-width: 45rem;

  border: 1px solid $black;

  input[type='text'] {
    text-align: right;
  }

  label {
    text-align: center;
  }

  .radio-input {
    justify-content: center;

    .option .option-label .option-label-text {
      min-width: 4.5rem;
    }
  }

  .recaptcha-wrapper > div > div {
    margin: 1.5rem auto 0;
  }

  .donation-info-badge {
    position: absolute;
    right: 0;
    bottom: calc(-26px - 1rem);
  }
}
