#burger {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  cursor: pointer;
  padding: .55rem 2rem;
  min-width: 5.625rem;
  display: inline-block;
  z-index: 150;
  transform: translateX(0rem);

  &:hover {
    background-color: $red;
  }

  svg {
    transition:
      opacity .2s,
      max-width .2s,
      max-height .2s;
  }
}

#header-container {
  height: 100%;
  color: $white;
  background-color: $black;
}

#nav-control {
  display: none;

  ~ header {
    bottom: 0;
    position: fixed;
    right: 100%;
    top: 0;
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 200;
    transform: translateX(21rem);
  }
}

@media only screen and (max-width: 768px) {
  #nav-control {
    ~ header {
      right: 100%;
      transform: translateX(0rem);
      box-shadow: 0 0 4px 0 rgba($black, .4);
    }

    &:checked {
      ~ header,
      ~ #burger {
        transform: translateX(21rem);
      }
    }
  }
}

[role=banner] {
  height: 100%;
  align-items: stretch;
  background: $black;
  border-right-color: $red;
  border-right-style: solid;
  border-right-width: 0.5rem;
  display: flex;
  width: 21rem;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
  position: relative;
  text-align: center;

  nav {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    font-family: Raleway, sans-serif;

    ul {
      align-content: stretch;
      display: flex;
      flex-direction: column;
    }

    li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin: 0;
      }
    }

    a,
    label {
      color: inherit;
      cursor: pointer;
      display: block;
      outline: none;
      overflow: hidden;
      padding: 1rem 2rem;
      position: relative;
      text-decoration: none;
      white-space: nowrap;

      span {
        position: relative;
        z-index: 1;
      }

      &.disabled {
        opacity: .4;
        text-decoration: line-through;
        cursor: not-allowed;
      }

      &:not(.disabled):before {
        background-color: $red;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        transition: all 0.2s;
        width: 0;
        z-index: 0;
        right: 0%;
      }

      &:not(.disabled):focus,
      &:not(.disabled):hover {
        color: $white;

        &:before {
          width: 100%;
        }
      }
    }

    label:after {
      border-color: transparent;
      border-style: solid;
      border-width: 0.5rem;
      border-right-color: $white;
      border-left-width: 0;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      transition: transform 0.2s 0s;
      width: 0;
    }

    .subnav {
      background-color: $black-lightened;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s, box-shadow 0.2s;
    }

    .subnav-toggle:checked ~ {
      label {
        z-index: 5;
        box-shadow: 0 0 6px 0 $black-darkened;

        &:before {
          width: 100%;
        }
        &:after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
      .subnav {
        box-shadow:
          inset 0 10px 6px -10px rgba($black-darkened, 0.5),
          inset 0 -10px 6px -10px rgba($black-darkened, 0.5);
        transition-duration: 0.5s;
        max-height: 100vh;

        a:hover:before {
          box-shadow: inset -10px 0 6px -10px rgba($black-darkened, 0.5);
        }
      }
    }
  }

  .join-actions {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;

    .get-help {
      animation-direction: reverse;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: grow-height;
      max-height: 0;
      width: 100%;

      &.hide {
        animation-duration: 0s;
      }

      &.show {
        animation-direction: normal;
        max-height: 100vh;
      }
    }

    button,
    .button {
      margin: 0 2rem 1rem 2rem;
      width: calc(100% - 4rem);
    }
  }

  .about-actions {
    margin: auto 2rem 0 2rem;

    .button.link {
      text-align: left;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-left: 0.55rem;
      font-size: 1.3rem;



      &:focus {
        color: $white;
      }

      &:hover {
        color: $red;
      }

      .fa-fw {
        margin-right: 0.55rem;
      }
    }
  }

  .social-actions {
    display: flex;
    margin: 0 2rem 1rem 2rem;
    justify-content: space-between;

    a.button {
      padding: 0 0.4rem;
      font-size: 1.6rem;

      &:focus {
        color: $white;
      }
      &:hover {
        color: $red;
      }
    }
  }
}
