.input-group {
  display: flex;

  width: 100%;

  border-width: 0.1rem solid $grey-lightened;

  box-shadow: 0 0 0.5rem 0 rgba($red, 0);
  color: inherit;
  outline: none;

  font-family: inherit;
  font-size: inherit;

  transition-duration: 0.5s;
  transition-property: border-color, box-shadow;

  > {
    input[type] {
      border-width: 0;
    }

    button,
    .button {
      display: flex;

      align-items: center;

      padding-top: 0;
      padding-bottom: 0;

      border-top: none;
      border-bottom: none;
    }
  }
}
