.page-header {
  align-self: flex-start;
  background-color: $red;
  color: $white;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 2rem;
  min-width: 0%;
  max-width: 75%;
  padding: 1rem 4rem;
  position: relative;
  transition: min-width 0.2s;
  z-index: 10;

  &:after {
    background-image: linear-gradient(
      to left,
      $red 0rem,
      $red 0.2rem,
      transparent 0.2rem,
      transparent 0.4rem,
      $red 0.4rem,
      $red 0.6rem,
      transparent 0.6rem,
      transparent 0.8rem,
      $red 0.8rem
    );
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    width: 9rem;
    right: 0;
    transform: skewX(-45deg) translateX(1rem);
    transform-origin: left bottom;
    transition: transform .2s;
    top: 0;
    z-index: -1;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    min-width: 100%;
    text-align: center;

    &:after {
      transform: skewX(0) translateX(0);
    }
  }
}
