main.page {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  flex-direction: column;
  align-content: stretch;

  flex-grow: 1;

  margin-left: 21rem;

  transition: margin 0.2s;

  @media only screen and (max-width: 769px) {
    margin-left: 0;
  }
}
