.profile-header {
  display: grid;

  grid-template:
    'avatar info' 1fr
    'avatar badges' min-content
    / min-content auto;
  grid-column-gap: 2rem;

  margin-bottom: 3rem;

  .user-avatar {
    grid-area: avatar;
  }

  .profile-basic-info {
    grid-area: info;
    align-self: center;

    padding-bottom: 1rem;

    > div .label {
      font-weight: bold;
    }

    .rat-name {
      font-size: 3rem;
    }
  }

  .profile-user-badges {
    grid-area: badges;
    align-self: end;

    height: min-content;

    .badge {
      padding: 0 0.75rem;

      background-color: #878787;

      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'avatar avatar'
      'info   info'
      'badges badges';
    justify-items: center;
    justify-content: center;

    text-align: center;
  }
}
