div.radio-input {
  ul.options {
    display: flex;

    li.option {
      display: inline-block;

      margin: 0 0.2rem;
      padding: 0 1.5rem;

      border: 0.2rem solid $red;

      transition: all 0.2s;

      text-align: center;

      transform: skewX(-10deg);
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: $red;
        color: $white;
      }

      &.disabled {
        border-color: $grey;

        background-color: $grey;
        color: $white;
      }

      div.option-content {
        display: inline-block;

        transform: skewX(10deg);
      }
    }
  }
}
