.rat-panel {
  min-width: 36.5rem;

  header {
    overflow-y: hidden;
    position: relative;

    > div {
      position: relative;
    }

    .display-rat-button {
      position: relative;
      top: -2px;
      margin-right: .2rem;
    }

    .rat-platform {
      display: inline-block;
      width: 22px;
      text-align: center;
    }
  }

  footer {
    .ship-expand-button {
      width: 100%;

      svg {
        transition: transform .2s ease;
      }
    }

    .rat-controls button {
      margin-left: .4rem;
    }
  }

  &.expanded .ship-expand-button svg {
    transform: rotate(180deg);
  }
}
