.squeakmas-alert {
  background-color: #1a1a1a;
  box-shadow: 0 0 1rem 0 black;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 10;

  .earth,
  .limpet,
  .moon,
  .sun {
    background-repeat: no-repeat;
    display: block;
    max-height: 150px;
    position: absolute;
  }

  .earth {
    background-image: url(/static/images/squeakmas/earth.svg);
    background-position: center;
    background-size: 10vmax;
    bottom: 0;
    right: 5vmax;
    top: 0;
    width: 10vmax;
    z-index: 2;
  }

  .limpet1 {
    background-image: url(/static/images/squeakmas/limpet1.svg);
    background-position: -47vmax center;
    background-size: 75vmax;
    bottom: 0;
    left: 0;
    top: 0;
    width: 28vmax;
    z-index: 6;
  }

  .limpet2 {
    background-image: url(/static/images/squeakmas/limpet2.svg);
    background-position: -38vmax 17%;
    background-size: 75vmax;
    bottom: 0;
    left: 0;
    top: 0;
    width: 37vmax;
    z-index: 5;
  }

  .limpet3 {
    background-image: url(/static/images/squeakmas/limpet3.svg);
    background-position: -41vmax 86%;
    background-size: 75vmax;
    bottom: 0;
    left: 0;
    top: 0;
    width: 34vmax;
    z-index: 4;
  }

  .moon {
    background-image: url(/static/images/squeakmas/moon.svg);
    background-position: center;
    background-size: 3vmax;
    bottom: 0;
    right: 16vmax;
    top: 0;
    width: 3vmax;
    z-index: 3;
  }

  .sun {
    background-image: url(/static/images/squeakmas/sun.svg);
    background-position: -25vmax center;
    background-size: 60vmax;
    bottom: 0;
    left: 0;
    top: 0;
    width: 45vmax;
    z-index: 1;
  }

  .content {
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 7;

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
