.store-error {
  margin: 0 2rem 2rem;
  padding: 1rem;

  border: 1px solid $red;

  background: rgba(255, 127, 127, 0.15);
  color: $red-darkened;

  line-height: 35px;

  &::before {
    display: inline;
    float: left;

    content: '⚠';

    color: $black;
    opacity: 0.75;

    font-size: 30px;
    font-weight: bold;
  }

  * {
    margin-bottom: 0;
    margin-left: 2.75rem;
  }

  p:first-child {
    display: inline;

    margin-left: 1rem;
  }
}
