.tabbed-panel {
  .tabs {
    margin: 0 -2rem 2rem;

    border-style: solid;
    border-color: $red;
    border-bottom-width: 0.2rem;

    ul {
      display: flex;

      flex-shrink: 0;

      margin-left: 2rem;

      list-style: none;
    }

    li {
      flex-shrink: 0;
    }
  }

  .tab {
    margin-bottom: -0.2rem;
    padding: 0.5rem 2rem 0.7rem;

    border: 0.2rem solid $red;
    border-bottom-width: 0;

    background-color: $red;
    color: #FFFFFF;
    transition: all 0.2s;

    transform: skewX(-10deg);
    transform-origin: bottom;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }

    &:hover,
    &.active {
      background-color: $white;
      color: $red;
    }

    .tab-inner {
      display: inline-block;

      transform: skewX(10deg);
      pointer-events: none;
    }
  }
}
