.terms-dialog[role='dialog'] {
  max-height: 100%;

  > .modal-content {
    display: block;

    padding: 2rem;

    color: #FFFFFF;
    background: rgba($white, 0.15);

    overflow: auto;

    pre {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
