.tweets {
  padding: 0;

  list-style: none;

  > li {
    animation-delay: 0s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: grow-height;
    animation-timing-function: ease;
  }
}

.tweet {
  display: flex;

  margin-bottom: 2rem;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name:
    fade-in,
    slide-in-from-left;

  overflow: hidden;
  transform-style: preserve-3d;

  div {
    position: relative;

    padding: 1rem;

    border: 0.2rem solid $black;
    border-radius: 0.4rem;

    background-color: $white;

    &::after,
    &::before {
      position: absolute;
      right: 100%;

      content: '';

      border-style: solid;
      border-color: transparent;
      border-left-width: 0;
    }

    &::after {
      top: 1.2rem;
      z-index: 2;

      border-width: 1rem;
      border-right-color: $white;
    }

    &::before {
      top: 0.9rem;
      z-index: 1;

      border-width: 1.3rem;
      border-right-color: $black;
    }
  }

  header {
    flex-shrink: 0;

    margin-right: 2rem;

    img {
      width: 4.8rem;
      height: 4.8rem;

      border: 0.2rem solid $black;
      border-radius: 100%;
    }
  }

  .media-list {
    display: flex;

    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;

    &:empty {
      margin: 0;
      padding: 0;
    }

    .media {
      display: block;
    }

    .crop {
      background-size: cover;
    }

    .fit {
      background-size: contain;
    }

    li {
      margin-right: 1rem;
    }

    img {
      max-height: 20vh;
    }
  }

  p {
    max-width: 100%;
    margin: 0;

    overflow-x: auto;
  }

  footer {
    ul {
      display: flex;

      margin-bottom: 0;
    }

    li {
      &::after {
        content: '\b7';
        margin: 0 1em;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}
