.user-rats-tab {
  position: relative;

  .rat-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  @media only screen and (min-width: 769px) {
    .add-rat-form-container {
      position: absolute;
      right: -2px;
      top: 0px;
    }
  }

  @media only screen and (max-width: 768px) {
    .rat-cards-container {
      justify-content: center;
    }
  }


}
