.user-rats-tab {
  position: relative;

  .rat-cards-container {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;

    margin: -1rem;
  }


  @media only screen and (min-width: 769px) {
    .add-rat-form-container {
      position: absolute;
      top: 0;
      right: -2px;
      z-index: 50;
    }

    .rat-cards-container {
      margin-right: 34px;
    }
  }
  @media only screen and (max-width: 768px) {
    .rat-cards-container {
      justify-content: center;
    }
  }
}
