div.user-nicknames {
  header .controls button {
    margin-left: 0.5rem;

    svg {
      width: 1.1em;
    }
  }

  .panel-content {
    padding: 0;


    ul > li {
      /* Disabled until Delete nick feature is ready for use.
      display: flex;
      justify-content: space-between; */
      align-items: center;
      padding: 0.5rem 1rem;

      &:nth-child(even) {
        background-color: $light-grey;
      }

      span {
        word-break: break-word;
      }
    }
  }

  footer form.row {
    .validated-form-input {
      padding: 0;
      margin-right: 1rem;
      color: $black;

      input {
        padding: 1.1rem;
      }
    }

    button {
      flex-grow: initial;
      flex-basis: initial;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: flex-end;

      .validated-form-input {
        margin: 0 0 1rem 0;
      }


      > * {
        flex-basis: initial;
      }
    }
  }
}
