@use 'sass:math';

@import '../../../scss/colors';


.select {
  :global(.validityIconGroup) {
    right: 2.85rem;
  }
}

.empty {
  color: $placeholder-grey;
}

.arrow {
  position: absolute;
  top: 1px;
  right: 1px;

  padding: 1rem #{math.div(2, 3) * 1rem};

  border: none;

  color: $grey;

  line-height: normal;

  pointer-events: none;
}
