@keyframes error-start {
  0% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: currentColor;
    transform: rotate(0deg);
  }

  100% {
    border-bottom-color: transparent;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: transparent;
    transform: rotate(405deg);
  }
}

@keyframes error {
  0% {
    border-bottom-color: transparent;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: transparent;
  }

  50% {
    border-bottom-color: currentColor;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: currentColor;
  }

  100% {
    border-bottom-color: transparent;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: transparent;
  }
}
