@keyframes opacity-flutter {
  0%, 100% { opacity: 0.75; }
  50% { opacity: 0.5; }
}


.opacity-flutter {
  animation-name: opacity-flutter;
  animation-duration: 2s;
  animation-iteration-count: infinite
}
