$paragraph-fonts: 'Open Sans', sans-serif;
$title-fonts: 'Raleway', sans-serif;
$monospace-fonts: 'Operator Mono', 'SF Mono', 'Fira Code', 'Source Code Pro', menlo, monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', consolas, monospace, sans-serif;
