$paragraph-fonts: 'Open Sans', sans-serif;
$title-fonts: 'Raleway', sans-serif;
$monospace-fonts:
  'Operator Mono',
  'SF Mono',
  'Fira Code',
  'Source Code Pro',
  'Cascadia Code',
  'Lucida Console',
  'Liberation Mono',
  'DejaVu Sans Mono',
  'menlo',
  'monaco',
  'consolas',
  monospace,
  sans-serif;
