* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

html,
body,
[data-reactroot],
[role='application'] {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  display: flex;

  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2;

  /* stylelint-disable selector-id-pattern */
  .next-wrapper,
  #__next {
    height: 100%;

    overflow: hidden;
  }
  /* stylelint-enable selector-id-pattern */
  > div {
    flex-grow: 1;

    &:not([id]):not([class]) {
      display: none;
    }
  }

  > #ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 401;

    overflow: visible;

    > div {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;

      align-items: flex-start;
      justify-content: center;

      width: 100vw;
      height: 100vh;
      padding: 10vh 10vw;

      border: none;

      transition: background 0.25s ease;

      overflow: auto;

      &:not(.open) {
        pointer-events: none;
      }

      &.open {
        background: rgba($black, 0.75);
      }
    }
  }
}
