@import '../../scss/colors';

.loginModal .errorBox {
  margin: 0 auto 1rem;
}

.primary {
  composes: primary from global;
}

.secondary {
  composes: secondary from global;
}

.button {
  composes: button from global;
}

.linkButton {
  composes: button link secondary mobile-button from global;
}

.loginForm {
  position: relative;
}

.verifyToggle {
  position: absolute;
  right: 0;
  z-index: 5;

  padding: 0 2rem 0.2rem;


  &:hover small {
    color: $white;
  }

  small {
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 768px) {
  [role='dialog'] .footer > menu[type='toolbar'] {
    flex-direction: column-reverse;

    .primary,
    .secondary {
      flex-direction: column-reverse;
      align-items: center;

      width: 100%;
      margin: initial;

      &:not(:first-child) {
        margin-bottom: 1rem;
      }
    }

    .button,
    .linkButton {
      min-width: 80%;
      margin: 0;

      &:not(:first-child) {
        margin-bottom: 2rem;
        margin-left: 0;
      }
    }
  }
}
