@keyframes loading-start {
  0% {
    border-color: currentColor;
  }

  100% {
    border-color: transparent currentColor currentColor;
  }
}
@keyframes loading {
  0% {
    border-color: transparent currentColor currentColor;
  }

  25% {
    border-color: currentColor transparent currentColor currentColor;
  }

  50% {
    border-bottom-color: currentColor currentColor transparent currentColor;
  }

  75% {
    border-color: currentColor currentColor currentColor transparent;
  }

  100% {
    border-color: transparent currentColor currentColor;
  }
}
