@keyframes loading-start {
  0% {
    border-color: currentcolor;
  }

  100% {
    border-color: transparent currentcolor currentcolor;
  }
}
@keyframes loading {
  0% {
    border-color: transparent currentcolor currentcolor;
  }

  25% {
    border-color: currentcolor transparent currentcolor currentcolor;
  }

  50% {
    border-bottom-color: currentcolor currentcolor transparent currentcolor;
  }

  75% {
    border-color: currentcolor currentcolor currentcolor transparent;
  }

  100% {
    border-color: transparent currentcolor currentcolor;
  }
}
