@keyframes opacity-flutter {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.3;
  }
}

.opacity-flutter {
  animation-name: opacity-flutter;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
